DATABASE_URL="file:./prisma/data/tablecast.db"
LOG_LEVEL=info
RCLONE_REMOTE=tablecast-gdrive
REFERENCE_SYNC_ON_STARTUP=false
FIVE_E_TOOLS_SRC_URL=https://raw.githubusercontent.com/5etools-mirror-3/5etools-src/master/data
FIVE_E_TOOLS_IMG_URL=https://5e.tools
DEBUG=tablecast:*
